openapi: 3.0.1
info:
  title: Microsoft Graph API - Secure Scores
  description: Retrieves the top 5 Microsoft Defender Secure Scores via Microsoft Graph API.
  version: "1.0.0"

servers:
  - url: https://graph.microsoft.com/beta

paths:
  /security/secureScores:
    get:
      summary: Get Microsoft Defender Secure Scores
      description: Retrieves the top 5 secure scores for security assessment.
      operationId: getSecureScores
      parameters:
        - name: $top
          in: query
          required: false
          schema:
            type: integer
            default: 5
      responses:
        "200":
          description: Successfully retrieved secure scores.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier of the secure score record.
                        tenantId:
                          type: string
                          description: Tenant ID of the organization.
                        activeUserCount:
                          type: integer
                          description: Number of active users in the tenant.
                        currentScore:
                          type: number
                          description: The latest security score.
                        maxScore:
                          type: number
                          description: The maximum possible security score.
                        vendor:
                          type: string
                          description: The security vendor (e.g., Microsoft).
                        createdDateTime:
                          type: string
                          format: date-time
                          description: Timestamp of when the score was generated.
        "401":
          description: Unauthorized - Invalid or missing access token.
        "403":
          description: Forbidden - Insufficient permissions.
        "500":
          description: Internal server error.

components:
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      description: Microsoft Graph API authentication using Client Credentials.
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/87e80fbb-80c5-4107-ba56-aafe9d96106c/oauth2/v2.0/token
          scopes:
            SecurityEvents.Read.All: Read security events and secure scores.

security:
  - OAuth2Auth:
      - https://graph.microsoft.com/.default
